.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #c3cfdd;
}

.navbar_logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar_links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar_links li {
  display: inline;
}

.navbar_links a {
  text-decoration: none;
  color: rgb(182, 116, 116);
  transition: color 0.3s;
}

.navbar_links a:hover {
  color: #ffc107;
}

.navbar_auth {
  display: flex;
  align-items: center;
}

.login_button,
.logout_button {
  background-color: #ffc107;
  color: #4a90e2;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login_button:hover,
.logout_button:hover {
  background-color: #ffd54f;
}
